@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat&display=swap');

.topnavDiv{
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 3px;
}

.topnavHeader{
    height: 70px;
    display: flex;
    align-items: center;
}

.topnavLogo {
    height: 6.5vmin;
    pointer-events: none;
    float: left;
    padding: 7px 20px;

}

.topnavTextHeader {
    font-family: 'Bungee', cursive;
    background:linear-gradient(180deg, rgba(21,175,228,1) 24%, rgba(134,70,252,1) 86%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
.topnavLogo  {
    animation: pulse 400ms linear 40ms infinite alternate;
    }
}

@keyframes pulse {
from {
    transform:translate(5%, -10%);
}
to {
    transform: translate(5%, -5%);
}
}